/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  background: #282c34;
}

.card, .list-group-item {
  background: none !important;
}

.card h1, .card p, .list-group-item {
  color: #fff;
}

.card h1, .card p {
  font-family: 'Open Sans', sans-serif;
}

.card input {
  background: #4c5056;
  border: none;
  border-radius: 5px;
  padding: 22px;
  color: #fff;
}

.card input:focus {
  background: #4c5056;
  color: #fff;
  border: none;
}

/* ================== */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
